# ----------------------
# Flask
# ----------------------
flask
flask-restful
flask-socketio
flask-email


# ----------------------
# Database
# ----------------------
mongoengine

# ----------------------
# Production Server
# ----------------------
eventlet
gunicorn
SMTP protocol client


# ----------------------
# Others
# ----------------------
addict
shortuuid

