# ----------------------
# Flask
# ----------------------
flask
flask-restful
flask-socketio
flask-email

# ----------------------
# Database
# ----------------------
mongoengine

# ----------------------
# Production Server
# ----------------------
eventlet
gunicorn
smtplib

# ----------------------
# Others
# ----------------------
addict
shortuuid

