#fixNav{
      z-index: 99;
      width: 100%;
      height: 10%;
      background-color:  rgb(1, 7, 43);
      display: inline-block; 
      margin-right: 100px;
      position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
      top: 0; /*Nằm trên cùng*/
      left: 0; /*Nằm sát bên trái*/
      
  }
  
  /* Logo trong hộp */
.logo{
      width: 40%;
      float: left;
      margin-left: 8%;
      margin-top: 1.5%;
      color: whitesmoke;
      font-family: 'Faster One' ;
  }
  
   
#fixNav ul{
      margin: 0;
      padding: 0;
      float: right;
      margin-right: 13%;
      margin-top: 25px;
  }
  
#fixNav ul li {
      list-style:none inside; 
      width: auto;
      float: left;
      color: #fff;
      padding: 0;
      margin-right: 10px;
      position: relative;
      font-family: 'Roboto', sans-serif;
  }
  
#fixNav ul li a{
      
      white-space: nowrap; /*Cho chữ trong menu không bị wrap*/
      padding: 0 10px;
      color: #fff;
      display: flexbox;
      font-size: 120%;
      font-weight: 10%;
      text-decoration: none;
  }
    /*CSS Style cho Submenu*/
#fixNav ul li ul {
      position: absolute; 
      width: 200%;
      display: none;
      background-color: rgb(0, 124, 37);
      border-bottom: 100% solid #0082bb;
      padding-left: 80%;
  }
    
#fixNav ul li ul li{
      display: block;
      padding: 10%;
      margin: 50%;
      /* float: none; Bỏ float cho li cấp thứ 2 */
    }
    /* Hover cho submenu */
#fixNav ul li:hover {
      /* Hover thì li sẽ đổi màu*/
      
      background-color: grey;
    }
#fixNav ul li:hover ul{
      /*Display ra submenu*/
      display: block;
  }
body {
    margin-top: 10%;
    background-image: url('/static/image/background.png');
    background-size: cover;
}
button {
    outline: none;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    border-style:hidden;
    width: 50%;
    padding: 8px 8px ;
    margin: 8px 0;
    border-radius: 20px;
    font-size: 15px;
    color: wheat;
    background-color: #2A363B;
    }

img {
    margin-left: 3%;
    float: left;
    border-radius: 20px;
    box-shadow: 2px 1px 2px 1px black;

    }

#box1 {
    margin-top: 50%;
    display: flex;
    margin: 20px;
    width: 100%;
    height: 150%;
    column-count: 2;
    column-gap: 40px;
}

#smbox1{
    margin-left: 100px;
}

#smbox2{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 0 0 5%;
    width: 550px;
    height: 100%;
}
#time{
    margin-left: 50px;
    margin-top: 2%;
}
i{
    float: left;
    margin-top: 0 ;
}
#stadium_name{
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

#stadium_description{
    margin-left: 50px;
    text-align: justify;
    margin-top: 1%;
}

#stadium_add {
    margin-left: 50px;
    text-align: justify;
}

button:hover, a:active {
    background-color: gray;
}


