body {
    background-image: url('/New/static/img/background.png');
}
button {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    border-style:hidden;
    width: 50%;
    padding: 8px 8px ;
    margin: 8px 0;
    border-radius: 20px;
    font-size: 15px;
    color: wheat;
    background-color: #2A363B;
    }

img {
    margin-left: 10%;
    float: left;
    }

#box1 {
    display: flex;
    margin: 20px;
    width: 100%;
    height: 100%;
    column-count: 2;
    column-gap: 40px;
}

#smbox{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 0 0 5%;
    width: 550px;
    height: 100%;
}
#time{
    margin-left: 50px;
}
i{
    float: left;
}
#stadium_name{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#stadium_description{
    text-align: justify;
}

button:hover, a:active {
    background-color: gray;
}
