<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/booking_form.css">
    <title>Đăng Kí Đặt Sân</title>
</head>
<body>
        <form id="form_register" method="POST">
            <h3> Đăng Kí Đặt Sân </h3> </br>
            <div id="info">
            {{detail_stadium.stadium_name}} </br>
            {{detail_stadium.stadium_address}} </br>
            </div>
            <div id="input1">
                <div id="time">
                <label >Chọn Khung Giờ</label>
                <select name="time" id="select" class="form-control" onchange="singleSelectChangeValue()">
                <option value="6:00-7:30">6:00 - 7:30</option>
                <option value="7:30-9:00">7:30 - 9:00</option>
                <option value="9:00-10:30">9:00 - 10:30</option>
                <option value="13:00-14:30">13:00 - 14:30</option>
                <option value="14:30-16:00">14:30 - 16:00</option>
                <option value="16:00-17:30">16:00 - 17:30</option>
                <option value="17:30-19:00">17:30 - 19:00</option>
                <option value="19:00-20:30">19:00 - 20:30</option>
                <option value="20:30-22:00">20:30 - 22:00</option>
                </select> </br>
                </div>
            <input name="date" type="date"> </br>
            <input name="name" type="text" placeholder="Họ Tên">  </br>
            <input name="phone" type="tel" placeholder="Số Điện Thoại"> </br>
            <input name="email" type="email" placeholder="Email">  </br>
            <button>Đăng kí đặt</button>
            </div>
        </form>
<script>
    
function singleSelectChangeValue() {
        //Getting Value
        //METHOD 2
        var selObj = document.getElementById("select");
        var selValue = selObj.options[selObj.selectedIndex].value;
        //Setting Value
        document.getElementById("textFieldValueJS").value = selValue;
    }
</script>
    
</body>
</html