<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/confirmation_booking.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Document</title>
</head>
<body>

     <div class="confir">
         <h1 class="font"> Bạn Đã Đặt Sân Thành Công !!! <br>
         Vui kiểm tra Email để xem chi tiết </h1>
     </div>

     <div class="homepage">
         <a class="home" href="#"> Trang Chủ </a>
     </div>

    
</body>
</html>