<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/dang-nhap"><button>Đăng Nhập</button></a> 
    <a href="/dang-ki"><button>Đăng Kí</button></a>
    <h3>Chọn Khu Vực</h3>
    <a href="/san-bong/Hai Bà Trưng"> Quan Hai Ba </a>  <br>
    <a href="/san-bong/Thanh Xuân"> Quan Thanh Xuan </a>  <br>
    <a href="/san-bong/Cầu Giấy"> Quan Cau Giay</a>  <br>
    <a href="/san-bong/Nam Từ Liêm"> Quan Nam Tu Liem</a>  <br>

</body>
</html>
